.add-jar {
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  transition: 0.15s;
}

.add-jar:hover {
  background: white;
  color: black;
  border-radius: 0 15px;
}

.add-jar-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 600px;
}

.add-jar-inputs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.add-jar-inputs {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-jar-inputs > input,
.add-jar-inputs > select {
  margin: 10px 0 20px 0;
}

.add-jar-inputs > button {
  margin-top: 10px;
}

.add-jar-inputs > h3 {
  margin-bottom: 10px;
}
