.jars-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  font-size: 0.8em;
  min-height: 85px;
}

.add-jar {
  color: blue;
  justify-content: center;
  align-items: center;
}

.add-jar-dialog {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 600px;
}

.add-jar-inputs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.add-jar-inputs {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-jar-inputs > input,
.add-jar-inputs > select {
  margin: 10px 0 20px 0;
}

.add-jar-inputs > button {
  margin-top: 10px;
}

.add-jar-inputs > h3 {
  margin-bottom: 10px;
}

.jar-url-input {
  width: 270px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: lightgrey;
}

.item-column {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.item-column > h3 {
  margin-bottom: 5px;
}

.logo {
  border-radius: 50%;
}

.jar-link {
  padding: 5px 0;
  font-size: 0.75em;
}

.controls {
  display: flex;
}

.controls > * {
  margin-right: 15px;
}

.form-error {
  margin-top: 20px;
  font-size: 0.8em;
  color: orange;
}

.curators-filter {
  display: flex;
}

.curators-filter > span {
  padding-right: 10px;
}

.jars-visibility-toggle {
  cursor: pointer;
  user-select: none;
}

.jars-visibility-toggle:hover {
  text-decoration: underline dashed;
}
