.icon {
  font-size: 16px;
  padding: 5px;
}

.icon:hover {
  text-decoration: dashed underline;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > input,
.content > select {
  margin: 10px 0 20px 0;
}
