.statistics-section-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed;
}

.statistics-section {
  display: flex;
  height: 100%;
  align-items: baseline;
  padding-right: 70px;
  flex-direction: column;
}

.statistics-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-item-date {
  align-self: flex-start;
  padding: 10px 0;
}

.statistics-bar-wrapper {
  width: 100%;
  display: flex;
}

.statistics-bar {
  height: 30px;
  margin-right: 15px;
  max-height: 300px;
}

.jar-owner {
  margin-bottom: 30px;
  font-size: 0.75em;
}

@media screen and (max-width: 1200px) {
  .statistics-section {
    padding-right: 0;
  }
}
