.progress {
    margin-bottom: 30px;
}

.progress-bar {
    width: 350px;
    height: 15px;
    border-radius: 5px;
    background: white;
    margin-top: 10px;
    border: 1px solid;
}

.current-progress {
    height: inherit;
    background-color: green;
    background-image: url('/images/progress-bar.png');
}