.site-logo-wrapper {
  display: flex;
  align-items: center;
}

.site-name {
  font-family: var(--eUkraineHeadLogo);
}

.name-and-slogan {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.name-and-slogan > span {
  font-family: var(--eUkraine);
  font-size: 0.83em;
  padding-left: 1px;
}
