.dialog-content {
  max-width: 900px;
}

.file-preview {
  min-height: 700px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.fieldsets-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.receipt-preview-frame {
  max-height: 500px;
  overflow: hidden;
}

.pdf-preview {
  width: 400px;
  height: 500px;
}

.receipt-preview-skeleton {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin-bottom: 10px;
}
