.jars-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  font-size: 0.8em;
  min-height: 85px;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: lightgrey;
}

.jar-info {
  padding: 0 10px;
}

.item-column {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.item-column:first-child {
  align-items: center;
}

.item-column > h3 {
  margin-bottom: 5px;
}

.logo {
  border-radius: 50%;
}

.jar-settings {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 16px;
  padding: 5px;
}

.icon:hover {
  text-decoration: dashed underline;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.controls > * {
  margin-right: 15px;
}

.form-error {
  margin-top: 20px;
  font-size: 0.8em;
  color: orange;
}

.curators-filter {
  display: flex;
}

.curators-filter > span {
  padding-right: 10px;
}

.copyIconClicked {
  width: 16px;
  height: 16px;
  background-color: rgba(0, 128, 0, 0.273);
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  animation: zoomInAndOut 0.3s linear infinite;
  pointer-events: none;
  user-select: none;
  border-radius: 10%;
}

.copyIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transform: scale(1);
  user-select: none;
}

.copyIcon:hover {
  background-color: rgba(128, 128, 128, 0.162);
  border-radius: 10%;
}

@keyframes zoomInAndOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
