.main-menu {
  list-style: none;
  display: flex;
  padding: 30px 0;
}

.menu-item {
  padding: 8px;
}

.menu-item.active {
  background-color: black;
  color: white;
}

.menu-separator {
  margin: 0 15px;
  padding: 8px;
}

.fundraising-select {
  background: none;
  border: none;
  font-size: 1em;
}
