.expenses-types-info {
  padding: 15px;
  border: 1px dotted;
  border-radius: 10px;
  margin: 10px;
}

.expenses-types-info h4 {
  margin-bottom: 10px;
}

.expense-type-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:
    minmax(45%, 0.5fr) minmax(20%, 0.5fr) minmax(20%, 0.5fr)
    minmax(15%, 0.5fr);
  margin-bottom: 5px;
}

.expense-type-info p {
  width: max-content;
}

.expense-type-info-header {
  font-weight: 500;
  margin-bottom: 5px;
}

.summary {
  margin-top: 15px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .expense-type-info {
    grid-template-columns: 1fr;
  }

  .expense-type-info-header {
    display: flex;
    flex-direction: row;
  }
}
