.login-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 230px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form > input {
  margin-bottom: 15px;
  height: 2em;
}

.error p {
  margin: 15px 0;
}
