.main {
  font-family: var(--eUkraine);
}

.header {
  display: grid;
  grid-template-columns: 35% 50%;
  align-items: center;
  margin-bottom: 30px;
}

.loader {
  height: calc(100vh - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}
