.jars-main-content {
  display: flex;
  flex-wrap: wrap;
}

.jars-list {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  list-style: none;
  width: 60%;
}

.item {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  display: flex;
  cursor: pointer;
  font-size: 0.8em;
  min-height: 85px;
  height: fit-content;
}

.selected {
  background-color: lightgrey;
}

.jar-info {
  padding: 0 10px;
}

.item-column {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.item-column:first-child {
  align-items: center;
}

.jars-buttons {
  margin: 10px;
}

.jars-buttons button:not(:last-child),
.jars-filters button:not(:last-child) {
  margin-right: 15px;
}

.logo {
  border-radius: 50%;
}

.jar-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 16px;
  padding: 5px;
}

.icon:hover {
  text-decoration: dashed underline;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
}

.controls > * {
  margin-right: 15px;
}

.form-error {
  margin-top: 20px;
  font-size: 0.8em;
  color: orange;
}

.curators-filter {
  display: flex;
}

.curators-filter > span {
  padding-right: 10px;
}

.copy-icon-clicked {
  animation: wave 0.3s infinite;
  pointer-events: none;
  user-select: none;
}

.copy-icon {
  cursor: pointer;
  user-select: none;
}

.copy-icon:hover {
  transform: translateY(-1px);
  transition: 0.2s;
}

@keyframes wave {
  50% {
    transform: translateY(-4px);
  }
}
