.dialog-content {
  max-width: 900px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.fieldsets-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  height: 100%;
  padding: 20px;
}

.form-inputs:first-child {
  margin-right: 10px;
}

.form-inputs input,
.jar-info {
  margin-bottom: 20px;
}

.form-inputs select {
  margin-bottom: 5px;
}
