.main {
  font-family: var(--eUkraine);
}

.image-frame {
  width: 230px;
  height: 300px;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 35% 50%;
  align-items: center;
  margin-bottom: 30px;
}

.general-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.general-info > * {
  margin-top: 10px;
}
