.main {
  font-family: var(--eUkraine);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.site-logo {
  position: relative;
  margin: 0 20px;
}

.site-name {
  font-family: var(--eUkraineHeadLogo);
}

.general-info {
  display: flex;
  flex-wrap: wrap;
}
