.section-content {
  margin-top: 20px;
}

.statistics-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inputs-title-prefix {
  margin-right: 10px;
}

.date-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.date-inputs,
.inputs-title-prefix {
  margin-top: 10px;
}

.date-input {
  margin-right: 10px;
}

.date-input:last-child {
  margin-left: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.column-header {
  margin: 15px 0;
  font-weight: bold;
  align-items: center;
}

.statistics {
  width: 60%;
}

.percentages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
  padding-top: calc(1em + 20px);
  height: 350px;
}

.chart {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.analytics-content {
  margin-bottom: 25px;
}

.analytics {
  flex-grow: 1;
}

.statistics-tabs {
  display: flex;
  list-style: none;
}

.statistics-tab {
  cursor: pointer;
  margin-right: 15px;
  padding: 3px;
}

.statistics-tab.active {
  color: white;
  background: black;
}

.statistics-tab.active:hover {
  text-decoration: underline dashed white;
}

.statistics-tab:hover {
  text-decoration: underline dashed;
}

.growth {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.growth-header {
  margin: 15px 0 10px 0;
  text-decoration: underline;
}

.grid-row {
  display: grid;
}

.grid-row.three-cells {
  grid-template-columns: 35% 30% 35%;
}

.grid-row.two-cells {
  grid-template-columns: 50% 50%;
}

.jar-owners {
  width: 35%;
}

.cell {
  margin-left: 10px;
  padding: 6px;
  border-bottom: dashed 1px;
  width: fit-content;
}

.positive-dynamic {
  background: rgb(85, 209, 157);
}

.no-dynamic {
  background: white;
}

.negative-dynamic {
  background: red;
}

.tabs {
  list-style: none;
  display: flex;
  font-weight: bold;
}

.tab {
  margin-right: 10px;
  padding: 6px;
  cursor: pointer;
}

.tab:hover {
  color: white;
  background: black;
}

.tab.active {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 1200px) {
  .statistics {
    width: 100%;
  }

  .grid-row {
    display: grid;
    grid-template-columns: 40% 30% 30%;
  }

  .column {
    margin-right: 0;
  }

  .growth {
    padding: 0;
  }

  .cell {
    margin-left: 0;
  }
}
