.invoice {
  width: 250px;
  height: fit-content;
  border: 1px solid;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  height: 380px;
}

.invoice-image-preview-frame {
  height: 200px;
  overflow: hidden;
  display: flex;
}

.invoice-image-preview-frame > div {
  position: unset !important;
}

.invoice-name {
  margin: 10px 0;
}

.invoice-preview-description {
  font-size: 0.9em;
}

.invoice-description {
  line-height: 1.5em;
}

.invoice-popups {
  display: flex;
  margin-top: 20px;
}

.invoice-popups > button {
  margin-right: 10px;
}

.invoice-additional-info {
  font-size: 0.8em;
  margin-top: 10px;
}

.is-active {
  padding-bottom: 10px;
}
