.button {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 6px;
  color: white;
  background: black;
  border: 1px solid black;
  transition: 0.15s;
  width: fit-content;
}

.button.red {
  color: #d1242f;
  background: white;
  border-color: lightgrey;
}

.button.red:hover {
  color: #ffffff;
  background: #d1242f;
}

.button:hover,
.button.pressed {
  background: white;
  color: black;
}

.button:disabled {
  color: white;
  cursor: default;
  background: lightgrey;
  border: 1px solid lightgrey;
}
