.invoices-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.invoices-toolbox {
  margin: 15px;
}

.invoices-toolbox > * {
  margin-right: 10px;
}

.expense-types-select select {
  margin-left: 10px;
}
