.statistics-wrapper {
}

.statistics-section-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed;
}

.statistics-section {
  display: flex;
  height: 100%;
  align-items: baseline;
  padding-right: 30px;
  flex-direction: column;
}

.date-inputs {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.date-input {
  margin: 0 20px;
}

.statistics {
  display: flex;
}

.statistics-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-item-date {
  align-self: flex-start;
  padding: 10px 0;
}

.jar-owner {
  margin-bottom: 30px;
  font-size: 0.75em;
}

.percentages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
  padding-top: calc(1em + 20px);
  height: 350px;
}

.chart {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.statistics-bar-wrapper {
  width: 100%;
  display: flex;
}

.statistics-bar {
  height: 30px;
  margin-right: 15px;
  max-height: 300px;
}

.statistics-tabs {
  display: flex;
  list-style: none;
}

.statistics-tab {
  cursor: pointer;
  margin-right: 15px;
  padding: 3px;
}

.statistics-tab.active {
  color: white;
  background: black;
}

.statistics-tab.active:hover {
  text-decoration: underline dashed white;
}

.statistics-tab:hover {
  text-decoration: underline dashed;
}
