.statistics-wrapper {
}

.statistics-section-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.statistics-section {
  display: flex;
  height: 100%;
  align-items: baseline;
  padding-right: 30px;
  overflow-y: hidden;
}

.date-inputs {
  display: flex;
  padding: 20px 0;
}

.date-input {
  margin: 0 20px;
}

.statistics {
  display: flex;
}

.statistics-item {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.jar-owner {
  transform: rotate(45deg);
  margin-top: 30px;
  font-size: 0.75em;
  width: 60px;
}

.statistics-item-date {
  align-self: center;
  padding: 10px;
}

.percentages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
  padding-top: calc(1em + 20px);
  height: 350px;
}

.chart {
  height: 450px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow-x: scroll;
}

.statistics-bar {
  width: 30px;
  height: 100px;
  margin-right: 15px;
  max-height: 300px;
}
